@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@theme {
  --color-primary: #00d4ff;
  --color-primary-dull: #00a8cc;
}
* {
  font-family: "Roboto", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

body {
  color: white;
  background-color: #09090B;
}




.cl-internal-b3fm6y {
  display: none !important;
}
